.sketchBox{
    padding: 100px;
    color: white;
    background-color:grey;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
body{
    background-color: #131313;
    color: white;
}

.carousel-caption{
    bottom: 0px !important;
    line-height: 0px !important;
    font-family: 'Roboto Mono';
}
h2{
    font-family: 'Roboto Mono';
}
.accordion-item{
    background-color: transparent !important;
    padding: 0px !important;
}
.accordion-button{
   background-color: transparent !important;
   padding: 0px !important;
   color: #888 !important;
   vertical-align: sub !important;
   
}
.accordion-body{
    padding: 0px !important;
}

.bar {
     fill: rgb(225, 225, 225);
}
.axis--x path {
        display: none;
}
.axis--y .tick{
    stroke: white;
    fill: white;
    font-family: 'Roboto Mono';
    font-size: 0.9rem;
}
.axis--y path{
    display: none;
}



#animated-text{
    animation: text-color 2s ease-in-out infinite;
}
@keyframes text-color {
    0% {
      color: rgb(255, 102, 0);
      animation-timing-function: ease-in;
    }
    50% {
      color: grey;
      animation-timing-function: ease-out;
    }
    100% {
      color: rgb(255, 102, 0);
      animation-timing-function: ease-in;
    }
  }


.memberStrip{
    background-color: #222;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 12px;
    border: 1px solid #444;
}
summary{
    list-style: none;
}
details summary::-webkit-details-marker {
    display: none;
}
.rankDiv{
    text-align: center;
    font-family: 'Roboto Mono';
}
.nameDiv{
    line-height: 4px;
}
.nameField{
    font-size: 1.2rem;
}
.instagramIdDiv{
    opacity: 50%;
    font-family: 'Roboto Mono';
}
.marathonDiv{
    text-align: center;
    font-family: 'Roboto Mono';
}
.label{
    background-color: #444;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: white;
}


.contentDivider{
    border: 1px solid #999;
}
.logContents{
    text-align: center;
    margin-bottom: 6px;
}
.logContents.marathonContentField{
    font-family: 'Roboto Mono' !important;
}
.instagramSection{
    margin-top: 12px;
    margin-bottom: 0px;
    font-size: 0.9rem;
    font-family: 'Roboto Mono';
    opacity: 60%;
}

.docs-text-container{
    line-height: 160%;
}